
*{
    padding: 0;
}
.sidebar{
    background-color: red;
    height: 100vh; 
}
.sidebar nav{
    padding: 72px;

}

.sidebar nav li{
    list-style: none;
}




.container{
    display: flex;

}

html{
    scroll-behavior: smooth;
}
.menu{
    position: fixed;

}


.main{
    background-color: yellow;
    width:90vw; 
}
.infoContaner{
    background-color: red;
}

#r1{
    color:plum;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto Mono', monospace;
    text-shadow: 2px 2px 5px rgb(4, 0, 0);

}
#r2{
    color:plum;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto Mono', monospace;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);

}

#r3{
    font-family: 'Edu TAS Beginner', wrap;
    text-align: center;
}
#img1{
    width: 250px;
    box-shadow: 0 19px 20px  rgb(0 0 0 / 40%), 0 19px 20px 0 rgb(0 0 0 / 19%);
    text-align: center;

    
    border-radius:10px;
    border: 5px solid rgb(45, 43, 43);
    float: left;
    margin: 0px 0px 15px 20px;
}
#img2{
    width: 380px;
    box-shadow: 0 19px 20px  rgb(0 0 0 / 40%), 0 19px 20px 0 rgb(0 0 0 / 19%);
    text-align: center;

    
    border-radius:10px;
    border: 5px solid rgb(45, 43, 43);
    float: left;
    margin: 0px 0px 15px 20px;

    margin-bottom: 30px;
}

#dv1{
    box-shadow: 0 6px 20px rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    background-color: aliceblue;
    width: 75%;
    border-radius: 20px;
    margin-left: 200px;
    margin-bottom: 210px;
    
    
}

#dv2{
    background-color: rgb(69, 70, 71);
    height: 90px;
    width: 220px;
    border-radius: 7px;
    margin-left: 221px;
    box-shadow: 0 6px 20px rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 19%);

}
#dv1{
    height: 350px;
}





body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


h1{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}